<div class="register-form">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 id="title">Edit Profile</h1>
    
            <form [formGroup]="updateForm" (ngSubmit)="update()">

                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="emailHelp" placeholder="Enter username" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
                </div>
     -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Current password</label>
                    <input type="password" class="form-control" formControlName="oldPassword" id="oldpassword" placeholder="Current password" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword2">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid" disabled>Save</button>
            </form>
        </div>
    </div>
</div>