<div class="register-form">
<div class="row">
    <div class="col-6 offset-3">
        <h1 id="title">Register Account</h1>

        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <div class="row">

                <!-- Coach -->
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usertype" id="flexRadioDefault1" formControlName="usertype" value="Coach">
                        <label class="form-check-label" for="usertype">
                          I want to coach
                        </label>
                      </div>
                </div>

                <!-- Client -->
                <div class="col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="usertype" id="flexRadioDefault2" formControlName="usertype" value="Client" checked>
                        <label class="form-check-label" for="usertype">
                          I want to learn
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="emailHelp" placeholder="Enter username" required>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" disabled>Sign Up</button>
        </form>
    </div>
</div>
</div>